* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: white; }

.header {
  width: 100%;
  height: 1.06667rem;
  background-color: red; }
  .header-item {
    font-size: 0.42667rem;
    color: white;
    float: left;
    line-height: 1.06667rem;
    list-style: none;
    margin-left: 0.95547rem; }
  .header-item:nth-child(2) {
    font-size: 0.48rem; }

.banner {
  position: relative; }

.banner-item {
  display: block;
  height: 5.06667rem;
  width: 100%; }

.banner-title {
  color: white;
  font-size: 0.42667rem;
  position: absolute;
  left: 0.34667rem;
  bottom: 0.26667rem; }

.news {
  width: 100%; }
  .news .news-content {
    width: 100%;
    box-sizing: border-box;
    padding-left: 0.26667rem;
    padding-right: 0.26667rem; }
  .news .news-item {
    position: relative;
    height: 2.4rem;
    list-style: none;
    overflow: hidden;
    border-bottom: 0.02667rem solid #ececec; }
    .news .news-item .news-img {
      float: left;
      margin-top: 0.26667rem;
      height: 1.86667rem;
      width: 2.53333rem;
      display: block; }
    .news .news-item .news-title {
      color: #404040;
      font-size: 0.45333rem;
      margin-top: 0.26667rem;
      padding-left: 0.26667rem;
      position: absolute;
      top: -0.13333rem;
      left: 2.53333rem; }
    .news .news-item .time {
      position: absolute;
      bottom: 0.16rem;
      left: 2.53333rem;
      margin-left: 0.26667rem;
      color: darkgrey;
      font-size: 0.32rem; }
    .news .news-item .num {
      font-size: 0.32rem;
      position: absolute;
      color: darkgrey;
      bottom: 0.16rem;
      right: 0.26667rem; }
      .news .news-item .num:before {
        position: absolute;
        content: '  ';
        background: url(../img/read.png);
        background-size: contain;
        width: 0.42667rem;
        height: 0.42667rem;
        right: 0.48rem;
        bottom: 0.04rem;
        display: block; }
